.rank_content {
  background-color: rgb(141, 187, 230);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(102, 102, 102, 0.7);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 600px;
}

.player_card {
  align-items: center;
  background-color: rgb(223, 163, 163);
  border: 5px solid rgb(200, 124, 124);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  margin: 15px;
  padding: 15px;
}

.player_image {
  border-radius: 50%;
  padding: 5px;
}

.Home_Button {
  background-color: rgb(106, 197, 113);
  border: rgb(179, 179, 179);
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(114, 114, 114, 0.7);
  color: rgb(83, 83, 83);
  font-size: 20px;
  height: 50px;
  margin-bottom: 15vh;
  width: 150px;
}

.ranking_title {
  color: rgb(92, 92, 92);
  font-size: 50px;
}

.ranking_subtitle {
  background-color: rgb(223, 163, 163);
  color: rgb(92, 92, 92);
  font-size: 30px;
}